<svg>
    <g id="clickable-conference-rooms" class="st1">
        <svg:rect id="conf1" (click)="onClick($event)" x="261" y="345" class="st2" width="92" height="64"/>
        <svg:rect id="conf2" (click)="onClick($event)" x="261" y="282" class="st2" width="91" height="62.3"/>
        <svg:rect id="conf3" (click)="onClick($event)" x="673" y="847" class="st2" width="134" height="87"/>
        <svg:polygon id="conf4" (click)="onClick($event)" class="st2" points="672,1023 807,1023 807,934 673,934 	"/>
        <svg:polygon id="conf5" (click)="onClick($event)" class="st2" points="352,1112 426,1112 426,1178 385,1178 385,1194 352,1194 	"/>
        <svg:polygon id="conf6" (click)="onClick($event)" class="st2" points="499,1112 426,1112 426,1178 469,1178 469,1194 499,1194 	"/>
        <svg:rect id="conf7" (click)="onClick($event)" x="811" y="1104" class="st2" width="62" height="90"/>
        <svg:rect id="conf8" (click)="onClick($event)" x="1053" y="1104" class="st2" width="71" height="91"/>
        <svg:rect id="conf9" (click)="onClick($event)" x="1124" y="1104" class="st2" width="70" height="91"/>
        <svg:rect id="conf10" (click)="onClick($event)" x="1252" y="1104" class="st2" width="67" height="91"/>
        <svg:rect id="conf11" (click)="onClick($event)" x="1383" y="1104" class="st2" width="124" height="91"/>
        <svg:rect id="conf12" (click)="onClick($event)" x="1499" y="735" class="st2" width="106" height="65"/>
      </g>
</svg>