.st0{fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st1{opacity:1;}
.st2{opacity: 0.15;fill:#00FF00;}
.st2:hover{opacity: 0.6;}
.st3{opacity: 0.15;fill:#FFFF00;}
.st3:hover{opacity: 0.6;}
.st4{fill:none;stroke:#000000;stroke-width:8;stroke-miterlimit:10;}
.st5{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:square;stroke-miterlimit:10;}
.st6{fill:none;stroke:#29ABE2;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
.st7{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:square;stroke-miterlimit:10;}
.st8{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
.st9{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
.st10{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st11{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-linecap:square;stroke-miterlimit:10;}
.st12{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st13{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-linecap:square;stroke-miterlimit:10;}
.st14{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-miterlimit:10;}
.st15{opacity: 0.15;fill:#662D91;}
.st15:hover{opacity: 0.6;}