<svg>
  <g id="clickable-wcs" class="st10">
    <rect id="wc1" (click)="onClick($event)" name="wc" x="354" y="409" class="st14" width="107" height="83" />
    <rect id="wc2" (click)="onClick($event)" name="wc" x="504" y="409" class="st14" width="109" height="83" />
    <rect id="wc3" (click)="onClick($event)" name="wc" x="354" y="885" class="st14" width="68" height="61" />
    <rect id="wc4" (click)="onClick($event)" name="wc" x="422" y="991" class="st14" width="77" height="121" />
    <rect id="wc5" (click)="onClick($event)" name="wc" x="540" y="992" class="st14" width="73" height="120" />
    <rect id="wc6" (click)="onClick($event)" name="wc" x="1693" y="405" class="st14" width="108" height="87" />
    <rect id="wc7" (click)="onClick($event)" name="wc" x="1843" y="405" class="st14" width="63" height="128" />
    <rect id="wc8" (click)="onClick($event)" name="wc" x="1884" y="886" class="st14" width="69" height="60" />
    <rect id="wc9" (click)="onClick($event)" name="wc" x="1693" y="989" class="st14" width="73" height="124" />
    <rect id="wc10" (click)="onClick($event)" name="wc" x="1808" y="990" class="st14" width="76" height="123" />
  </g>
  <g id="clickable-elevators" class="st10">
    <rect id="elevator1" name="elevator" x="479" y="719" class="st13" width="64" height="165" />
    <rect id="elevator2" name="elevator" x="1763" y="718" class="st13" width="64" height="168" />
  </g>
</svg>