<div class="panel">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="font-size: 30px" >
    <a class="navbar-brand" href="/admin-panel" style="font-size: 30px">Admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Show map</a>
        </li>
        <li class="nav-item active">
          <a (click)='onAddEmployee()'  class="nav-link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Add employee</a>
        </li>
        <li class="nav-item active">
          <a (click)='onAddGuest()'  class="nav-link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Add guest</a>
        </li>
        <li class="nav-item active">
          <a (click)='onSetPlace()' class="nav-link"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Set place</a>
        </li>
      </ul>
        <button (click)='onLogout()' class="btn btn-outline-white my-2 my-sm-0" type="submit" style="font-size: 25px">Logout</button>
    </div>
  </nav>
</div>
<div class="addForm">
  <div id='addEmployee' class='text-center animated fadeIn' *ngIf ='showAddEmployee === true;'>
    <h1 style="font-size: 26px">First Name:</h1>
    <input type="text" placeholder="First Name" style="font-size: 19px" ngModel class="form-control" #name>
    <h1 style="font-size: 26px">Second Name:</h1>
    <input type="text" placeholder="Second Name" style="font-size: 19px" ngModel class="form-control" #sndname>
    <h1 style="font-size: 26px">Position:</h1>
    <input type="text" placeholder="Position" style="font-size: 19px" ngModel class="form-control" #position>
    <div class="checkbox">
        <label style="font-size: 19px"><input id="box" type="checkbox" (click)='onBox(box.checked);' #box>Set place</label>
    </div>
    <div *ngIf ='boxChecked === true;'>
        <h1 style="font-size: 26px">Place:</h1>
        <input type="text" placeholder="Place" style="font-size: 19px" ngModel class="form-control" #place>
    </div>
    <a id='buttonAdd' style="font-size: 19px" data-toggle="tooltip" title="Add" class= 'btn btn-warning' (click)='addEmployee(name.value, sndname.value, position.value);'>
      Save
    </a>  
  </div>
</div>