<svg>
    <g id="clickable-rooms" class="st10" (click)="onClick($event)">
        <rect id="room1" x="261" y="177" class="st15" width="56" height="50"/>
        <rect id="room2" x="318" y="177" class="st15" width="35" height="50"/>
        <rect id="room3" x="416" y="177" class="st15" width="48" height="105"/>
        <rect id="room4" x="520" y="177" class="st15" width="43" height="41"/>
        <rect id="room5" x="563" y="177" class="st15" width="52" height="41"/>
        <rect id="room6" x="659" y="161" class="st15" width="39" height="65"/>
        <rect id="room7" x="261" y="227" class="st15" width="92" height="55"/>
        <rect id="room8" x="673" y="847" class="st15" width="134" height="87"/>
        <rect id="room9" x="261" y="282" class="st15" width="92" height="63"/>
        <rect id="room10" x="574" y="278" class="st15" width="41" height="54"/>
        <rect id="room11" x="261" y="345" class="st15" width="92" height="64"/>
        <rect id="room12" x="304" y="580" class="st15" width="51" height="76"/>
        <rect id="room13" x="812" y="1104" class="st15" width="62" height="90"/>
        <rect id="room14" x="874" y="1104" class="st15" width="61" height="45"/>
        <rect id="room15" x="935" y="1104" class="st15" width="55" height="45"/>
        <rect id="room16" x="874" y="1149" class="st15" width="61" height="45"/>
        <rect id="room17" x="935" y="1150" class="st15" width="56" height="44"/>
        <rect id="room18" x="1052" y="1104" class="st15" width="71" height="91"/>
        <rect id="room19" x="1123" y="1104" class="st15" width="71" height="91"/>
        <rect id="room20" x="1253" y="1104" class="st15" width="66" height="91"/>
        <rect id="room21" x="1319" y="1104" class="st15" width="64" height="91"/>
        <rect id="room22" x="1383.5" y="1105" class="st15" width="123.5" height="90"/>
        <rect id="room23" x="745" y="1228" class="st15" width="122" height="121"/>
        <rect id="room24" x="1646" y="672" class="st15" width="47" height="63"/>
        <rect id="room25" x="1499" y="735" class="st15" width="106" height="65"/>
        <rect id="room26" x="1646" y="735" class="st15" width="47" height="65"/>
        <rect id="room27" x="1953" y="886" class="st15" width="59" height="46"/>
        <rect id="room28" x="1953" y="1004" class="st15" width="59" height="34"/>
        <rect id="room29" x="1953" y="1038" class="st15" width="59" height="45"/>
        <rect id="room30" x="1953" y="1083" class="st15" width="59" height="36"/>
        <rect id="room31" x="1892" y="1113" class="st15" width="61" height="82"/>
        <rect id="room32" x="1953.5" y="1119" class="st15" width="58.5" height="36"/>
        <rect id="room33" x="1953" y="1156" class="st15" width="29" height="39"/>
        <rect id="room34" x="1982" y="1155" class="st15" width="30" height="40"/>
        <polygon id="room35" class="st15" points="265,618 304,618 304,656 267,656 	"/>
        <polygon id="room36" class="st15" points="267,656 270,693 354,693 354,656.5 	"/>
        <polygon id="room37" class="st15" points="273,730 354,730 354,693 270,693 	"/>
        <polygon id="room38" class="st15" points="277,792 354,792 354,730 273,730 273,759 	"/>
        <polygon id="room39" class="st15" points="277,793 279,820 282,853 354,853 354,792 	"/>
        <polygon id="room40" class="st15" points="283,854 283,883 286,916 354,916 354,854 	"/>
        <polygon id="room41" class="st15" points="289,955 354,950 354,916 286,916 	"/>
        <polygon id="room42" class="st15" points="574,219 574,278 615,278 615,218 	"/>
        <polygon id="room43" class="st15" points="673,934 807,934 807,1023 672,1023 	"/>
        <polygon id="room44" class="st15" points="98,1041 225,1030 235,1172 108,1182 	"/>
        <polygon id="room45" class="st15" points="353,1113 353,1194 385,1194 385,1178 426,1178 426,1113 	"/>
        <polygon id="room46" class="st15" points="499,1113 426,1113 426,1178 469,1178 469,1194 499,1194 	"/>
    </g>
</svg>
