<div>
    <div class='panel panel-info'>
        <div class='panel-heading'>
            {{title}}
            
    </div>
    
    <div>
      <a class= 'btn btn-warning' (click)='onBack()'>
        SEARCH
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>     
      <input type="text" name="fname"><br> 
    </div>

    <div class='table'>
      <table>
        <thead>
          <tr>
              <th>Imie</th>
              <th>Nazwisko</th>
              <th>Stanowisko</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Stachu</td>
            <td>Pomorski</td>
            <td>INF</td>
          </tr>
          <tr>
              <td>Peter</td>
              <td>Griffin</td>
              <td>BOSS</td>
            </tr>
            <tr>
                <td>Jan</td>
                <td>Kowalski</td>
                <td>HR</td>
              </tr>
        </tbody>
      </table>
    </div>

</div>




