<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
    <div class='panel panel-info'>
        <div class='panel-heading'>
            {{title}}
            
    </div>
    
    <div>
      <a id='buttonSearchSlide' class= 'btn btn-warning' (click)='onClickSearchSlide($event)'>
        SEARCH
        <span id='buttonSearchSlide' class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>     
      <a id='buttonElev' class= 'btn btn-info' (click)='onClickElevator($event)'>
        Elevator
        <span id='buttonElev' class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </a>
      <a id='buttonWC' class= 'btn btn-info' (click)='onClickWC($event)'>
        <i id='buttonWC' class="material-icons" style="font-size: 26px; color:white">wc</i>
      </a>
      <input type="text" name="fname"><br> 
    </div>

    <div>
        <div id='search' class='table animated fadeIn' *ngIf ='showSearchDiv === true;'>
            <h2>
              <input #searchInput (keyup.enter)="onClickSearch(searchInput.value)" (blur)="onClickSearch(searchInput.value); searchInput.value='' ">
              <a id='buttonSearch' class= 'btn btn-warning' (click)='onClickSearch(searchInput.value)'>
                  SEARCH
                  <span id='buttonSearch' class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>     
            </h2>
        </div>
    </div>

    <div *ngIf ='buttonWasClicked === false;'>
    <h1 *ngIf ='placeClicked === "";else notEmpty'>Wybierz lokalizacje</h1>
    
      <ng-template #notEmpty>
        <h1>Wybrana lokalizacja: {{ placeClicked }}</h1>
      </ng-template>
    
    <div *ngIf ='sillyChange === true;else twin'>

      <div id='info' class='table animated fadeIn' *ngIf ='filteredEmployes.length > 0;else noData'>
          <h2>Dane: </h2>
          <h2 *ngFor='let employee of filteredEmployes'>
          <!-- {{ employee.employeeId }}.-->
            {{ employee.employeeName }} 
            {{ employee.employeeSurname }} 
            {{ employee.employeePosition }}
          </h2>
        <table>
          <thead>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Stanowisko</th>
            </tr>
          </thead>
          <tbody>
            <tr 
            *ngFor='let employee of filteredEmployes'>
            <!-- <td>{{ employee.employeeId }}</td> -->
              <td>{{ employee.employeeName }}</td>
              <td>{{ employee.employeeSurname }}</td>
              <td>{{ employee.employeePosition }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noData>
          <h2 *ngIf ='placeClicked !== ""'>W tym pomieszczeniu niestety<br>nikt jeszcze nie przesiaduje</h2>
      </ng-template>
    </div>
    <ng-template #twin>
        <div id='info' class='table animated fadeIn' *ngIf ='filteredEmployes.length > 0;else noData'>
            <h2>Dane: </h2>
            <h2 *ngFor='let employee of filteredEmployes'>
            <!-- {{ employee.employeeId }}.-->
              {{ employee.employeeName }} 
              {{ employee.employeeSurname }} 
              {{ employee.employeePosition }}
            </h2>
          <table>
            <thead>
              <tr>
                  <th>Imie</th>
                  <th>Nazwisko</th>
                  <th>Stanowisko</th>
              </tr>
            </thead>
            <tbody>
              <tr 
              *ngFor='let employee of filteredEmployes'>
              <!-- <td>{{ employee.employeeId }}</td> -->
                <td>{{ employee.employeeName }}</td>
                <td>{{ employee.employeeSurname }}</td>
                <td>{{ employee.employeePosition }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noData>
            <h2 *ngIf ='placeClicked !== ""'>W tym pomieszczeniu niestety<br>nikt jeszcze nie przesiaduje</h2>
        </ng-template>
    </ng-template>
  </div>
  </div>

</div>




