<div>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                {{title}}
            </div>
          <!--  <div class="panel-body">
               <a>Panel Content</a> 
                <a class= 'btn btn-warning' (click)='onBack()'>
                        HELP
                </a>
                 <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </div>-->
            <div>
                    <app-map></app-map>    
             </div>
             <div class="position">
                    <app-userInterface></app-userInterface>
             </div>
                 
             
</div>




   