<div>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      {{title}}
    </div>
    <!--  <div class="panel-body">
               <a>Panel Content</a>
                <a class= 'btn btn-warning' (click)='onBack()'>
                        HELP
                </a>
                 <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </div>-->
 
     <!-- <app-map></app-map>-->

      <router-outlet></router-outlet>
  
    <!--<div class="position">
      <app-userInterface></app-userInterface>
      <router-outlet></router-outlet>
    </div>-->
  </div>
