.panel-heading{
    font-size: 30px;
    font-weight: 900;
    font-family: Consolas, "Times New Roman", Times, serif;
    text-align: center;
}

.btn-default{
    width:100px
}

.position{
    position: absolute;
    left: 850px;
    top: 83px;
    min-width: 605px;
    min-height: 850px;
    border-style: solid;
}