  <svg>
    <g id="clickable-wcs" class="st10" *ngIf ='decisionWC === false; else clicked'>
      <rect x="354" y="409" class="st14" width="107" height="83"/>
      <rect x="504" y="409" class="st14" width="109" height="83"/>
      <rect x="354" y="885" class="st14" width="68" height="61"/>
      <rect x="422" y="991" class="st14" width="77" height="121"/>
      <rect x="540" y="992" class="st14" width="73" height="120"/>
      <rect x="1693" y="405" class="st14" width="108" height="87"/>
      <rect x="1843" y="405" class="st14" width="63" height="128"/>
      <rect x="1884" y="886" class="st14" width="69" height="60"/>
      <rect x="1693" y="989" class="st14" width="73" height="124"/>
      <rect x="1808" y="990" class="st14" width="76" height="123"/>
    </g>
    <ng-template #clicked>
      <rect x="354" y="409" class="st100" width="107" height="83"/>
      <rect x="504" y="409" class="st100" width="109" height="83"/>
      <rect x="354" y="885" class="st100" width="68" height="61"/>
      <rect x="422" y="991" class="st100" width="77" height="121"/>
      <rect x="540" y="992" class="st100" width="73" height="120"/>
      <rect x="1693" y="405" class="st100" width="108" height="87"/>
      <rect x="1843" y="405" class="st100" width="63" height="128"/>
      <rect x="1884" y="886" class="st100" width="69" height="60"/>
      <rect x="1693" y="989" class="st100" width="73" height="124"/>
      <rect x="1808" y="990" class="st100" width="76" height="123"/>
    </ng-template>

    <g id="clickable-elevators" class="st10" *ngIf ='decisionElevator === false; else clickedE'>
      <rect x="479" y="719" class="st13" width="64" height="165"/>
      <rect x="1763" y="718" class="st13" width="64" height="168"/>
    </g>
    <ng-template #clickedE>
      <rect x="479" y="719" class="st100" width="64" height="165"/>
      <rect x="1763" y="718" class="st100" width="64" height="168"/>    
    </ng-template>
  </svg>