<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
  crossorigin="anonymous">


<div>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      {{title}}
    </div>

    <div>
      <a id='buttonElev' data-toggle="tooltip" title="Elevator" class='btn btn-secondary icon-btn' (click)='onClickElevator($event)'>
        <span id='buttonElev' class="glyphicon glyphicon-sort" aria-hidden="true" style="font-size: 30px"></span>
      </a>
      <a id='buttonInfo' data-toggle="tooltip" title="Reception" class='btn btn-secondary icon-btn' (click)='onClickInfo($event)'>
        <i id='buttonInfo' class="fas fa-info" style="font-size: 35px"></i>
      </a>
      <a id='buttonWC' data-toggle="tooltip" title="Toilets" class='btn btn-secondary icon-btn' (click)='onClickWC($event)'>
        <i id='buttonWC' class="material-icons" style="font-size: 30px">wc</i>
      </a>
      <a id='buttonWater' data-toggle="tooltip" title="Water" class='btn btn-primary icon-btn' (click)='onClickWater($event)'>
        <i id='buttonWater' class="fas fa-tint" style="font-size: 30px"></i>
      </a>
      <a id='buttonFire' data-toggle="tooltip" title="Fire Extinguisher" class='btn btn-primary icon-btn' (click)='onClickFire($event)'>
        <i id='buttonFire' class="fas fa-fire-extinguisher" style="font-size: 30px"></i>
      </a>
      <a id='buttonAid' data-toggle="tooltip" title="First Aid" class='btn btn-primary icon-btn' (click)='onClickAid($event)'>
        <i id='buttonAid' class="fas fa-first-aid" style="font-size: 30px"></i>
      </a>
      <br>
      <a id='buttonPrinter' data-toggle="tooltip" title="Print Corner" class='btn btn-info icon-btn' (click)='onClickPrinter($event)'>
        <i id='buttonPrinter' class="fas fa-print" style="font-size: 30px"></i>
      </a>
      <a id='buttonEat' data-toggle="tooltip" title="Food" class='btn btn-success icon-btn' (click)='onClickEat($event)'>
        <i id='buttonEat' class="fas fa-utensils" style="font-size: 30px"></i>
      </a>
      <a id='buttonCoffee' data-toggle="tooltip" title="Coffee" class='btn btn-success icon-btn' (click)='onClickCoffee($event)'>
        <i id='buttonCoffee' class="fas fa-coffee" style="font-size: 30px"></i>
      </a>
      <a id='buttonBed' data-toggle="tooltip" title="Quiet Room" class='btn btn-success icon-btn' (click)='onClickBed($event)'>
        <i id='buttonBed' class="fas fa-bed" style="font-size: 30px"></i>
      </a>
      <a id='buttonActive' data-toggle="tooltip" title="Active Room" class='btn btn-success icon-btn' (click)='onClickActive($event)'>
        <i id='buttonActive' class="fas fa-table-tennis" style="font-size: 30px"></i>
      </a>
      <a id='buttonHealth' data-toggle="tooltip" title="Wellness Room" class='btn btn-success icon-btn' (click)='onClickHealth($event)'>
        <i id='buttonHealth' class="fas fa-heart" style="font-size: 30px"></i>
      </a>
      <a id='buttonClear' data-toggle="tooltip" title="Clear all" class='btn btn-danger icon-btn' (click)='onClickClear($event)'>
        <i id='buttonClear' class="fa fa-times" style="font-size: 35px"></i>
      </a>
    </div>

    <div>
      <div id='search' class='table animated fadeIn'>
        <h2>
          <input #searchInput (keyup.enter)="onClickSearch(searchInput.value);">
          <a id='buttonSearch' data-toggle="tooltip" title="Search" class='btn btn-warning' (click)='onClickSearch(searchInput.value);' style="font-size: 15px">
            SEARCH
            <span id='buttonSearch' class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </h2>
      </div>
    </div>

    <div *ngIf='foundThing !== "";'>

      <div *ngIf='sillyChange === true;else twin'>

        <div id='info' class='table animated fadeIn'>
          <h1>Dane: </h1>
          <h1>
            {{ foundThing }}
          </h1>
        </div>
      </div>

      <ng-template #twin>
        <div id='info' class='table animated fadeIn'>
          <h1>Dane: </h1>
          <h1>
            {{ foundThing }}
          </h1>
        </div>
      </ng-template>
    </div>
  </div>

</div>

<div class="fire" *ngIf='wantToFireShine === true'>
  <i class="fas fa-fire-extinguisher" style="font-size: 20px; color: red"></i>
</div>

<div class="water" *ngIf='wantToWaterShine === true'>
  <i class="fas fa-arrow-up" style="font-size: 20px; color: black"></i>
  <br>
  <i class="fas fa-tint" style="font-size: 20px; color: blue"></i>
</div>
<div class="water2" *ngIf='wantToWaterShine === true'>
  <i class="fas fa-tint" style="font-size: 20px; color: blue"></i>
  <i class="fas fa-arrow-right" style="font-size: 20px; color: black"></i>
</div>
<div class="water3" *ngIf='wantToWaterShine === true'>
  <i class="fas fa-tint" style="font-size: 20px; color: blue"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="water4" *ngIf='wantToWaterShine === true'>
  <i class="fas fa-tint" style="font-size: 20px; color: blue"></i>
  <i class="fas fa-arrow-right" style="font-size: 20px; color: black"></i>
</div>
<div class="water5" *ngIf='wantToWaterShine === true'>
  <i class="fas fa-arrow-left" style="font-size: 20px; color: black"></i>
  <i class="fas fa-tint" style="font-size: 20px; color: blue"></i>
</div>

<div class="coffee" *ngIf='wantToCoffeeShine === true'>
  <i class="fas fa-arrow-up" style="font-size: 20px; color: black"></i>
  <br>
  <i class="fas fa-coffee" style="font-size: 20px; color: darkslategray"></i>
</div>
<div class="coffee2" *ngIf='wantToCoffeeShine === true'>
  <i class="fas fa-coffee" style="font-size: 20px; color: darkslategray"></i>
  <i class="fas fa-arrow-right" style="font-size: 20px; color: black"></i>
</div>
<div class="coffee3" *ngIf='wantToCoffeeShine === true'>
  <i class="fas fa-coffee" style="font-size: 20px; color: darkslategray"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="coffee4" *ngIf='wantToCoffeeShine === true'>
  <i class="fas fa-coffee" style="font-size: 20px; color: darkslategray"></i>
  <i class="fas fa-arrow-right" style="font-size: 20px; color: black"></i>
</div>
<div class="coffee5" *ngIf='wantToCoffeeShine === true'>
  <i class="fas fa-arrow-left" style="font-size: 20px; color: black"></i>
  <i class="fas fa-coffee" style="font-size: 20px; color: darkslategray"></i>
</div>
<div class="aid" *ngIf='wantToAidShine === true'>
  <i class="fas fa-first-aid" style="font-size: 20px; color: red"></i>
</div>

<div class="printer" *ngIf='wantToPrinterShine === true'>
  <i class="fas fa-print" style="font-size: 20px; color: gray"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="printer2" *ngIf='wantToPrinterShine === true'>
  <i class="fas fa-print" style="font-size: 20px; color: gray"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="printer3" *ngIf='wantToPrinterShine === true'>
  <i class="fas fa-arrow-up" style="font-size: 20px; color: black"></i>
  <br>
  <i class="fas fa-print" style="font-size: 20px; color: gray"></i>
</div>
<div class="printer4" *ngIf='wantToPrinterShine === true'>
  <i class="fas fa-print" style="font-size: 20px; color: gray"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="printer5" *ngIf='wantToPrinterShine === true'>
  <i class="fas fa-arrow-left" style="font-size: 20px; color: black"></i>
  <i class="fas fa-print" style="font-size: 20px; color: gray"></i>
</div>

<div class="eat" *ngIf='wantToEatShine === true'>
  <i class="fas fa-arrow-up" style="font-size: 20px; color: black"></i>
  <br>
  <i class="fas fa-utensils" style="font-size: 20px; color: burlywood"></i>
</div>
<div class="eat2" *ngIf='wantToEatShine === true'>
  <i class="fas fa-utensils" style="font-size: 20px; color: burlywood"></i>
  <i class="fas fa-arrow-right" style="font-size: 20px; color: black"></i>
</div>
<div class="eat3" *ngIf='wantToEatShine === true'>
  <i class="fas fa-utensils" style="font-size: 20px; color: burlywood"></i>
  <br>
  <i class="fas fa-arrow-down" style="font-size: 20px; color: black"></i>
</div>
<div class="eat4" *ngIf='wantToEatShine === true'>
  <span class="fas fa-utensils" style="  display: inline-block;  font-size: 20px; color: burlywood"></span>
  <span class="fas fa-arrow-right" style="  display: inline-block; font-size: 20px; color: black"></span>
</div>
<div class="eat5" *ngIf='wantToEatShine === true'>
  <i class="fas fa-arrow-left" style="font-size: 20px; color: black"></i>
  <i class="fas fa-utensils" style="font-size: 20px; color: burlywood"></i>
</div>

<div class="info" *ngIf='wantToInfoShine === true'>
  <i class="fas fa-info" style="font-size: 20px; color: blueviolet"></i>
</div>

<div class="bed" *ngIf='wantToBedShine === true'>
  <i class="fas fa-bed" style="font-size: 20px; color: brown"></i>
</div>

<div class="active" *ngIf='wantToActiveShine === true'>
  <i class="fas fa-table-tennis" style="font-size: 20px; color: green"></i>
</div>

<div class="health" *ngIf='wantToHealthShine === true'>
  <i class="fas fa-heart" style="font-size: 20px; color: greenyellow"></i>
</div>
