<svg>
  <g id="clickable-offices" class="st10" (click)="onClick($event)">
      <polyline id="office1" class="st16" points="222,22 286,22 286,127 222,127 	"/>
      <polyline id="office2" class="st16" points="39,211 43,274 222,274 222,243 205,243 205,211 	"/>
      <polygon id="office3" class="st16" points="56,458 205,458 205,525 62,536 	"/>
      <polygon id="office4" class="st16" points="75,724 203,724 207,784 79,784 	"/>
      <polygon id="office5" class="st16" points="93,977 220,966 225,1030 98,1041 	"/>
      <polygon id="office6" class="st16" points="108,1182 172,1177 172,1297 118,1301 	"/>
      <polygon id="office7" class="st16" points="697,160 697,225 807,225 807,159 	"/>
      <rect id="office8" x="868" y="1228" class="st16" width="67" height="121"/>
      <rect id="office9" x="1371" y="1228" class="st16" width="68" height="121"/>
      <rect id="office10" x="1439" y="1228" class="st16" width="68" height="121"/>
      <rect id="office11" x="2133" y="1221" class="st16" width="55" height="128"/>
      <rect id="office12" x="1305" y="915" class="st16" width="64" height="127"/>
      <rect id="office13" x="1369" y="915" class="st16" width="63" height="128"/>
      <rect id="office14" x="1499" y="672" class="st16" width="106" height="63"/>
      <rect id="office15" x="1499" y="608" class="st16" width="106" height="64"/>
  </g>
</svg>