.panel-heading{
    font-size: 20px;
    font-family: Consolas, "Times New Roman", Times, serif;
    text-align: center;
}

.btn-default{
    width:100px
}

h1{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}